# Dependencies
node_modules/

# Build outputs
dist/
build/
.output/

# Environment files
.env
.env.local
.env.*.local

# Vercel
.vercel/

# Coverage
coverage/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/settings.json

# TypeScript
*.tsbuildinfo

*storybook.log
storybook-static
